.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.logInBox {
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    background: black;
}

.schemaContainer {
    height: 30rem;
    border: 1px solid black;
    border-radius: 4px;
}

.logInTitle {
    display: flex;
    justify-content: center;
}

.submitButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.linkButtonContainer {
    margin-bottom: 5px
}

nav {
    top: 0;
    z-index: 1;
    position: fixed;
    align-items: center;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: black;
    color: white;
    margin-left: -15px;
    margin-right: -15px;
}

.separator {
    height: 60px;
}

.fullBody {
    display: flex;
    flex-direction: column;
}

input {
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 4px;
    padding:3px 10px;
    border:0;
    margin: 2px 5px;
}

h4 {
    color: white;
}

button {
    padding: 7px 16px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
    color: black;
    border: 2px solid red;
    transition-duration: 0.4s;
  }
  
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: red;
}

.formRowMain {
    display: flex;
    justify-content: space-evenly;
}

